---
import config from "@/config";

export type Props = {
  title?: string;
  description?: string;
  siteTitle: string;
  siteDescription?: string;
  canonicalUrl?: string;
  structuredData?: unknown;
};
const {
  title,
  description,
  siteTitle,
  siteDescription,
  canonicalUrl: incomingCanonicalUrl,
  structuredData,
} = Astro.props;

const canonicalUrl = incomingCanonicalUrl
  ? incomingCanonicalUrl
  : new URL(Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1,viewport-fit=cover"
  />
  <meta name="generator" content={Astro.generator} />

  <title>{title && `${title} | `}{siteTitle}</title>
  {
    (description || siteDescription) && (
      <meta name="description" content={description || siteDescription} />
    )
  }

  <link rel="canonical" href={canonicalUrl} />
  <link rel="sitemap" href={new URL("/sitemap-index.xml", Astro.site).href} />

  {/* Feeds */}
  <link
    rel="alternate"
    title={`${siteTitle} JSON Feed`}
    type="application/feed+json"
    href={new URL("/feed.json", Astro.site).href}
  />
  <link
    rel="alternate"
    title={`${siteTitle} RSS Feed`}
    type="application/rss+xml"
    href={new URL("/feed.xml", Astro.site).href}
  />

  {/* IndieAuth Tags */}
  <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
  <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

  <link rel="me" href="mailto:myles@myles.garden" />

  <link rel="me" href="https://myles.garden" />
  <link rel="me" href="https://cosocial.ca/@myles" />
  <link rel="me" href="https://github.com/myles" />
  <link rel="me" href="https://instagram.com/myles/" />
  <link rel="me" href="https://linkedin.com/in/mylesbraithwaite/" />

  <link
    rel="webmention"
    href={`https://webmention.io/myles.garden/webmention`}
  />

  {/* omg.lol */}
  <link href="https://proven.lol/80d858" />
  <link rel="me" href="https://milo.omg.lol/" />
  <link rel="me" href="https://social.lol/@milo" />

  {/* Fediverse Creator Tag */}
  <meta name="fediverse:creator" content="@myles@cosocial.ca" />

  {/* Open Graph */}
  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalUrl} />
  <meta property="og:title" content={title || siteTitle} />
  <meta
    property="og:description"
    content={description || siteDescription || ""}
  />
  <meta property="og:site_name" content={siteTitle} />

  {/* Twitter Card */}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content={canonicalUrl} />
  <meta name="twitter:title" content={siteTitle} />
  <meta name="twitter:description" content={siteDescription} />

  {/* JSON-LD Structured Data */}
  {
    structuredData && (
      <script
        is:inline
        type="application/ld+json"
        set:html={JSON.stringify(structuredData)}
      />
    )
  }

  {/* Tinylytics Track Code */}
  {
    config.SITE_TINYLYTICS_ID && (
      <script
        src={`https://tinylytics.app/embed/${config.SITE_TINYLYTICS_ID}.js`}
        defer
        is:inline
      />
    )
  }
</head>
