---
import {
  isAttachmentBlock,
  isChannelBlock,
  isEmbedBlock,
  isImageBlock,
  isLinkBlock,
  isTextBlock,
} from "@/lib/content";
import type { Block } from "@/lib/schemas";
import urls from "@/lib/urls";
import { formatDate, formatISO } from "date-fns";
import BlockDetailAttachment from "./BlockDetailAttachment.astro";
import BlockDetailChannel from "./BlockDetailChannel.astro";
import BlockDetailEmbed from "./BlockDetailEmbed.astro";
import BlockDetailImage from "./BlockDetailImage.astro";
import BlockDetailLink from "./BlockDetailLink.astro";
import BlockDetailMetaDataAttachment from "./BlockDetailMetaDataAttachment.astro";
import BlockDetailMetaDataEmbed from "./BlockDetailMetaDataEmbed.astro";
import BlockDetailMetaDataImage from "./BlockDetailMetaDataImage.astro";
import BlockDetailMetaDataList from "./BlockDetailMetaDataList.astro";
import BlockDetailMetaDataListItem from "./BlockDetailMetaDataListItem.astro";
import BlockDetailText from "./BlockDetailText.astro";

type Props = {
  block: Block;
  class?: string[];
};
const { block, class: className } = Astro.props;

let blockTitle: string | null = block.data.title;

let ComponentDetail;
let ComponentMetaData;
switch (true) {
  case isAttachmentBlock(block):
    ComponentDetail = BlockDetailAttachment;
    ComponentMetaData = BlockDetailMetaDataAttachment;
    break;
  case isChannelBlock(block):
    ComponentDetail = BlockDetailChannel;
    break;
  case isEmbedBlock(block):
    blockTitle = block.data.embed.title ? block.data.embed.title : blockTitle;
    ComponentDetail = BlockDetailEmbed;
    ComponentMetaData = BlockDetailMetaDataEmbed;
    break;
  case isImageBlock(block):
    blockTitle = blockTitle ? blockTitle : block.data.image.filename;
    ComponentDetail = BlockDetailImage;
    ComponentMetaData = BlockDetailMetaDataImage;
    break;
  case isLinkBlock(block):
    ComponentDetail = BlockDetailLink;
    break;
  case isTextBlock(block):
    ComponentDetail = BlockDetailText;
    break;
  default:
    console.warn(`Unsupported block type: ${block.data.type}`);
    break;
}
---

<article
  class:list={[
    "block-detail-image",
    "grid grid-cols-1 gap-8 flex-1 h-full",
    "md:grid-cols-3",
    className,
  ]}
>
  <div class:list={["order-2 space-y-4"]}>
    <header class:list={["space-y-2"]}>
      <h2
        class:list={[
          "font-bold text-xl leading-snug truncate",
          !blockTitle &&
            "text-slate-300 selection:text-slate-50 selection:bg-slate-950",
        ]}
      >
        {blockTitle ?? "No title"}
      </h2>
      {
        block.data.description ? (
          <div
            class:list={["text-lg overflow-y-scroll"]}
            set:html={block.data.description.html}
          />
        ) : (
          <p
            class:list={[
              "text-lg text-slate-300 selection:text-slate-50 selection:bg-slate-950",
            ]}
          >
            No description
          </p>
        )
      }
    </header>
    <section>
      <BlockDetailMetaDataList>
        <BlockDetailMetaDataListItem name="Added">
          <time datetime={formatISO(block.data.created_at)}>
            {formatDate(block.data.created_at, "EEE do MMM yyyy")}
          </time>
        </BlockDetailMetaDataListItem>
        {
          "user" in block.data && block.data.user && (
            <BlockDetailMetaDataListItem name="By">
              <a
                href={urls.external.user(block.data.user.slug)}
                target="_blank"
                rel="noopener noreferrer"
              >
                {block.data.user.name}
              </a>
            </BlockDetailMetaDataListItem>
          )
        }
        {
          "source" in block.data && block.data.source && (
            <BlockDetailMetaDataListItem name="Source">
              <a
                href={block.data.source.url}
                target="_blank"
                rel="noopener noreferrer"
              >
                {block.data.source.title}
              </a>
            </BlockDetailMetaDataListItem>
          )
        }
        {ComponentMetaData && <ComponentMetaData block={block as any} />}
        <BlockDetailMetaDataListItem name="External URL">
          View in <a
            href={urls.external.block(block.id)}
            target="_blank"
            rel="noopener noreferrer">Are.na</a
          >
        </BlockDetailMetaDataListItem>
      </BlockDetailMetaDataList>
    </section>
  </div>
  <section
    class:list={[
      "order-1 flex justify-center items-center",
      "md:col-span-2 md:bg-slate-50 md:p-4",
    ]}
  >
    {ComponentDetail && <ComponentDetail block={block as any} />}
  </section>
</article>
